.py-4{
    padding: 0 !important;
    overflow: hidden    ;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #fff;
}
.select2-container--default .select2-selection--single{
    background: transparent !important;
    color: #fff;;
    margin-bottom: 8px;
        
}
.select2-selection--single {
    width: 100%;
    background: transparent;
}

.select2-dropdown--below {
    border: 0px black !important;
    border-radius: 10px !important;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.select2-container--open .select2-dropdown--below {
    border-top: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}


.actionbar {
    bottom: 40px;
    gap: 50px;
    /* padding-right: 25px; */
}

.selection {
    top: 20px;
}

.actionbar a:hover {
    background-color: #ddd;
    color: black;
}
.krona{
    width: 30px;
    height: 30px;
}
.krona-icon{
    margin-right:5px;
}
.monster {
    animation: MoveUpDown 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
    position: absolute;
    bottom: 150px;
}

.player {
    width: 250px;
    height: 300px;
    align-self: flex-end;
}

.dragon {
    width: 700px;
    height: 400px;
    align-self: flex-end;
}

.row {
    height: 100vh;
}

.image-background {
    background-image: url('../img/salvos/bg_battle fixed.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
}

.dragon {
    position: absolute;
    right: 3%;
    bottom: 105px;
}

.player {
    position: absolute;
    left: 80px;
    bottom: 105px;
}

.player-desc{
    padding-top: 11px;
}

.slash{
    position: absolute;
    width: 100px;
    left: 300px;
    bottom: 230px;
    animation: slashAnimation ease-in-out 2.5s alternate;
}


.fireball{
    position: absolute;
    width: 500px;
    right: 300px;
    bottom: 230px;
    animation: fireballAnimation ease-in-out 2.5s alternate;
}

.button-salvos{
    border-radius: 10px;
    background-color: #19376d;
    color: #a5d7e8;
    padding: 10px 5px;
    
}

.button-salvos:hover{
    background-color: #19376d;   
    /* width: ;  */
}

.none{
    display: none;
}

.bi-bandaid{
    color: #fff;
}
.container-modal{
    width: 500px;
    height: auto;
    background-color: #fff;
    top: 300px;
    left: 600px;
    border-radius: 20px;
    z-index: 1;
}
#modal-header{
    text-align: center;
    border-top-left-radius:19px ;
    border-top-right-radius:19px ;
}
#modal-footer{
    gap: 50px;
}
#modal-header{
    padding: 10px;
    background-color: #19376d;
    color: #a5d7e8;
    letter-spacing: 2px;
}
.potion{
    width: 50px;
}
.icon{
    width: 30px;
    margin-right: 10px;
}
@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 150px;
    }

    50% {
        bottom: 175px;
    }
}

@keyframes slashAnimation {
    0%{
        transform: translate(0,0);
    } 
    33%{
        opacity: 1;
        visibility: visible;
    } 
    40%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform: translateX(2000px);
    }
}

@keyframes fireballAnimation {
    0%{
        transform: translate(0,0);
    } 
    33%{
        opacity: 1;
        visibility: visible;
    } 
    40%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform: translateX(-2500px);
    }
}

.healthbar-wrapper {
    /* position: absolute; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hb {
    /* position: absolute; */
    width: 300px;
    /* top: 20px; */
}

.healthbar {
    width: 100%;
    background: transparent;
    border: 3px solid yellow;
    transform: rotateY(0deg);
    border-radius: 8px;
    position: relative;
}

.h-s {
    transform: rotateY(180deg);
}

.health-label {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
    text-indent: 10px;
    text-align: right;
}

#health-player {
    /* width: 100%; */
    width: 0;
    height: 30px;
    background: #ed4747;
    border-radius: 4px;
    transition: linear 0.5s;
}

#health-salvos {
    width: 0;
    height: 30px;
    background: #ed4747;
    border-radius: 4px;
    transition: linear 0.5s;
}

.label-hp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h-s .label-hp {
    transform: translate(-50%, -50%) rotateY(180deg);
}
