body {
    background-color: #0c2548;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
}

.map-wrapper {
    width: 1085px;
    height: 731px;
    background: #ffc483;
    padding: 10px;
}

.map-kolom {
    background-image: url("../img/treasure/digged.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0;
    position: relative;
    border: 1px solid black;
}
/* Pion */
.map-kolom .pion{
    position: absolute;
    height: 25px;
    width: 25px;
    z-index: 2;
    display: inline-block;
    transform: translate(-50%,-50%);
    background-image: url('../img/treasure/pion.png');
    background-size: cover;
    text-align: center;
}

.map-kolom:has(> :nth-child(1)) .pion {
    top: 50%;
    left: 50%;
}
.map-kolom:has(> .pion:nth-child(2)) .pion:first-of-type{
    top: 25%;
    left: 25%;
}
.map-kolom:has(> .pion:nth-child(2)) .pion:last-of-type{
    top: 75%;
    left: 75%;
}
.map-kolom:has(> .pion:nth-child(2)) .pion:only-of-type{
    top: 50%;
    left: 50%;
}
/* End of Pion */

.map-tanah {
    width: 70px;
    height: 70px;
}

#control-section {
    background-color: #576cbc;
    border: 0;
    border-radius: 20px;
    color: #a5d7e8;
    height: 720px;
    /* width: 200px; */
}

.select2-selection--single {
    width: 100%;
    border-radius: 10px !important;
    outline: none;
    font-size: 16px;
}

.select2-dropdown--below {
    border-radius: 10px !important;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.select2-container--open .select2-dropdown--below {
    border-top: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;

}

.select2-container--default .select2-selection--single {
    background-color: #19376d;
    color: #a5d7e8;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #a5d7e8;
}

.select2-container {}

.timer-button-section{
    gap: 40px;
}

.button{
    background-color: #19376d;
    color: #a5d7e8;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    border: 0;
}
.button-buy{
    background-color: #19376d;
    color: #a5d7e8;
    width: 75px;
    height: 25px;
    border-radius: 25px;
    border: 0;
    font-size: 14px;
}
.button:hover,.button-buy:hover{
    background-color: #DBA035;
    color: #19376d;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.button-disabled{
    background-color: #DBA035;
    color: #19376d;
}
.inventory-section{
    background-color: #19376d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 300px;
    overflow-y: auto;
}

.inventory-section .image-container .item-image{
    width: 80px;
    height: 80px;

}

.inventory-section .item{
    background-color: #a5d7e8;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    color: #19376d;
    
}

.inventory-section .image-container{
    flex-basis: 80px;
}

.inventory-section .text-container{
    flex-grow: 1;
    flex-basis: auto;
}

.inventory-section .button-container{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-basis: 100px;
    gap: 5px;
    flex-direction: column;
}

.krona-section{
    display: flex;
    justify-content: space-between;
}

.movement-section{
    position: relative;
    height: 160px;
}

.movement-section .button{
    width: 110px;
    height: 55px;
}

#btn-up{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#btn-down{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#btn-left{
    position: absolute;
    bottom: 50%;
    left: 80px;
    transform: translateY(50%);
}

#btn-right{
    position: absolute;
    bottom: 50%;
    right: 80px;
    transform: translateY(50%);
}

::-webkit-scrollbar{
    width: 5px;
}
.inventory-section::-webkit-scrollbar-thumb{
    background-color: #a5d7e8;
    border-radius: 20px;
}

.marking{
    position: relative;
}

.marking > span{
    position: absolute;
    z-index: 3;
    color: #fff;
} 

#x-1{
    top: 0px;
    left: 5px;
}

#x-2{
    top: 70px;
    left: 5px;
}
#x-3{
    top: 140px;
    left: 5px;
}
#x-4{
    top: 210px;
    left: 5px;
}
#x-5{
    top: 280px;
    left: 5px;
}
#x-6{
    top: 355px;
    left: 5px;
}
#x-7{
    top: 425px;
    left: 5px;
}
#x-8{
    top: 495px;
    left: 5px;
}
#x-9{
    top: 565px;
    left: 5px;
}
#x-10{
    top: 635px;
    left: 5px;
}


#y-1{
    top: 0;
    left: 60px;
}

#y-2{
    top: 0px;
    left: 130px;
}
#y-3{
    top: 0;
    left: 200px;
}
#y-4{
    top: 0;
    left: 270px;
}
#y-5{
    top: 0;
    left: 340px;
}
#y-6{
    top: 0;
    left: 410px;
}
#y-7{
    top: 0;
    left: 480px;
}
#y-8{
    top: 0;
    left: 550px;
}
#y-9{
    top: 0;
    left: 620px;
}
#y-10{
    top: 0;
    left: 690px;
}
#y-11{
    top: 0;
    left:760px;
}
#y-12{
    top: 0;
    left: 830px;
}
#y-13{
    top: 0;
    left: 900px;
}
#y-14{
    top: 0;
    left: 970px;
}
#y-15{
    top: 0;
    left: 1040px;
}


